<h1>Practica de Plantillas en Angular</h1>


<a [href]="web" 
[class.existe] = 'redirigir'
target="_blank">Visitar sitio web
></a>

<br>
<br>

@if(redirigir==true){
    <p>El enlace {{web}} funciona correctamente!! </p>
} @else {
    <p>Lo sentimos, este enlace no está disponible.</p>
}

<button (click)="cambioRedireccion()" >Modificar enlace</button>

<h3>Prestamos</h3>
Estado:
<input type="text" [(ngModel)] = "newTransaccion">
<br>
Monto:
<input type="text" [(ngModel)] = "newMonto">
<br>
<button (click)="addPrestamo()">Agregar Nuevo Prestamo</button>

<ul>
    @for(prestamo of prestamosList; track prestamo.id; let indice = $index;){
        <li [class]="prestamo.estado"> {{indice+1}} - {{prestamo.monto}}$ - {{prestamo.estado}} - <button (click)="deletePrestamo(indice)">Eliminar</button> </li>
    } @empty {
        <p>No hay prestamos disponibles</p>
    }
</ul>

@switch (prestamo.tipo) {
    @case('personal'){
        <p>El prestamo es de tipo personal con un interes de {{prestamo.interes}}% </p>
    }
    @case('hipotecario'){
        <p>El prestamo es de tipo hipotecario con un interes de {{prestamo.interes}}% </p>
        <app-transacciones></app-transacciones>
    }
    @case('vehicular'){
        <p>El prestamo es de tipo vehicular con un interes de {{prestamo.interes}}% </p>
    }
    @default {
        <p>Tipo de prestamo no reconocido.</p>
    }
}


<h3>Practica con Pipes</h3>

<p>Tipo de prestamo: {{prestamo.tipo| titlecase}}</p>
<p>Monto: {{prestamo.monto | currency}}</p>
<p>Interes: {{prestamo.interes| percent}} </p>
<p>Fecha: {{prestamo.fechaPago |date}} </p>

{{"Frase: " + frase}}

<br>
<p>Codigo Ascii:</p>
{{frase| codigoAscii}}