<h1>Practica de Componentes</h1>

<h2>Mi perfil:</h2>
<em> {{nombre}} </em>
<p>Edad: {{edad}} años</p>
<p>Profesión: {{ocupacion}} </p>
<p>Direccion: {{direccion}} </p>
<p>Telefono: {{telefono}} </p>
<strong>Lenguajes Favoritos:</strong>
<ul>
  <li>JavaScript</li>
  <li>TypeScript</li>   
</ul>

<button (click)="cambiarEdad()">Cambiar Edad</button>
<button (click)="cambiarDireccion()">Cambiar Direccion</button>

<br>
<br>

@if(mostrarCuenta==true){
  <button (click)="ocultarCuenta(false)">Ocultar Cuentas</button>
} @else {
  <button (click)="ocultarCuenta(true)">Mostrar Cuentas</button>
}
 
@if(mostrarCuenta==true){
  <app-cuenta></app-cuenta>
}
