a{
    background-color: orange;
    color: black;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
}
.existe{
    background-color: blue;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
}
.Aprobado{
    color: green;
    font-weight: bold;
}
.Pendiente{
    color: red;
    font-weight: bold;
}