<h1>Componentes en Angular</h1>


<h2> {{nombre}} </h2>
<p> {{descripcion}} </p>
<p>De marca {{marca}} </p>
<strong> {{precio}}$ </strong>

<br>
<br>
<button (click)="cambiarNombre()">Cambiar nombre del producto</button>
<br>
<br>

@if(mostrarPeliculas==true){
    <button (click)="ocultarPeliculas(false)">Ocultar componente de peliculas</button>
} @else {
    <button (click)="ocultarPeliculas(true)">Mostrar componente de peliculas</button>
}

@if(mostrarPeliculas==true){
    <app-pelicula></app-pelicula>
}