<h1>Mis Tareas</h1>

@for (tarea of tareas; track $index; let indice = $index) {
    <div>
        <li [ngStyle]="tarea.completada ? {'color': 'green'}:{'color':'red'}">
        {{tarea.titulo}} - 
        {{tarea.descripcion}} - 
        <button (click)="cambiarEstado(indice+1)">Cambiar Estado</button> - 
        <button (click)="deleteTarea(indice)">Eliminar</button>
        <br>
        <br>
    </li>
    </div>
}

<h2>Agregar Rapido</h2>
<input type="text" [(ngModel)]="materiaRapida"
                    (focus)="haciendoFoco()"
                    (blur)="saliendoDelFoco()"
>
<button (click)="addTareaRapida()">Agregar Rapido</button>
<p>Escribiendo: {{materiaRapida}}</p>
