nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: purple;
  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

button {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 30px;
  border-color: white;
}